<div id="footer">
  <p>@Html.ActionLink("Add new machine", "Create", "Machines")</p>
  <p>----- @Html.ActionLink("Home", "Index", "Home") --- @Html.ActionLink("See all Workers", "Index", "Workers") --- @Html.ActionLink("See all Machines", "Index", "Machines") -----</p>
  </div>