@{
  Layout = "_Layout";
}

@model Factory.Models.Worker

<h4>Add Machinery For Worker</h4>

<h4>@Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.WorkerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId")

    <input type="submit" value="Save" />
}
