@{
  Layout = "_Layout";
}

@model Factory.Models.Worker

<h4>Edit worker info:</h4>

<p>@Html.DisplayFor(model => model.Name)</p>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.WorkerId)

  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}
