@{
  Layout = "_Layout";
}


<h4>Machinery: </h4>

@if (@ViewBag.Machines.Count == 0)
{
  <p>No machinery has been added yet...</p>
} 

<ul>
  @foreach(var machine in ViewBag.Machines)
  {
    <li>@machine.Name</li>
  }
</ul>


<h4>Employees: </h4>

@if (@ViewBag.Workers.Count == 0)
{
  <p>No employees have been added yet...</p>
} 

<ul>
  @foreach(var worker in ViewBag.Workers)
  {
    <li>@Html.ActionLink($"{worker.Name}", "Details", new { id = worker.WorkerId })</li>
  }
</ul>